<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
{%extends "base.html"%}
{%block content%}

<div class=" maintxt"><em>foodie</em></div>
		
		<div class="offst-text1"><strong>Find that food!</strong></div>
		
		<div><a href="#" class="btn btn-large btn-success mybtn btn-font-">Search</a> </div>
		<div class="offst-text2"><b>Today's Special</b></div>
		<div class="offst-text3"><em>Chicken Burger</em></div>
		<div class="offst-img1"><img class="img-polaroid" src="http://127.0.0.1:8000/restaurant/static/pics/food3.jpg" alt=""></div>
		<div class="offst-text4"><b>Restaurants</b></div>
		<div class="offst-text5"><em>Javas</em></div>
		<div class="offst-img2"><img class="img-polaroid" src="http://127.0.0.1:8000/restaurant/static/pics/food8.jpg" alt=""></div>
	
	<div class="row">

	<div class="hero-unit1 span4 offst1">
		
	</div>
	<div class="hero-unit1 span4 offst2">

	</div>
	<div class="hero-unit1  span4 offst3">	

	</div>
{%endblock%}


</html>