<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

{%extends "base3.html"%}
{%block specific-content%}



		<div class="special-3 offset-special">



		</div>

				<div class="moved-today-special">

					<div class="i-text"><a href="#">Today's Special</a></div>
					<div class="moved-today-special-img"><img src= 'http://127.0.0.1:8000/restaurant/static/pics/colors-of-spring.jpg'/></div>
					<div class="u-text"><p>From first courses based on  fish blended perfectly with seasonable vegetables, to fragrant second courses featuring aromatic..
					</p></div>
				</div>

		<div class="special-item-3 offset-item">


		</div>

				<div class="moved-special-item">

					<div class="i-text"><a href="#">Most Popular Food</a></div>
					<div class="moved-special-item-img"><img src= 'http://127.0.0.1:8000/restaurant/static/pics/pep.jpg'/></div>
					<div class="u2-text"><p>The pepperoni pizza at New York Kitchen.. simply exquisite!
					</p></div>
				</div>

		<div class="special-rest-3 offset-rest">


		</div>


				<div class="moved-special-rest">

					<div class="i-text"><a href="#">Most Popular Restaurant</a></div>
					<div class="moved-special-rest-img"><img src= 'http://127.0.0.1:8000/restaurant/static/pics/icecream.jpg'/></div>
					<div class="u3-text"><p>The javas restautant, located at various city oil branches..
					</p></div>
				</div>
		<div class="clear"></div>

		<div class="follow-us-3">

<div class="follow-img1"><img src= 'http://127.0.0.1:8000/restaurant/static/pics/facebook.jpg'/></div>
<div class="follow-img2"><img src= 'http://127.0.0.1:8000/restaurant/static/pics/twitter.png'/></div>


		</div>


{%endblock%}



</html>